<div class="title-left">
  <h1>LISTADO DE USUARIOS</h1>
</div>
<div class="row">
    <div class="btn-right">
        <button class="btn btn-primary" data-ng-click="verMdlAgregar()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          AGREGAR
        </button>
    </div>
    <div id="divLoading"></div>
    <div id="divAlert"></div>
    <div data-ng-if="verTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>USUARIO</th>
                    <th>PERFIL</th>
                    <th class="text-center">ACTIVO</th>
                    <th class="text-center">EDITAR</th>
                    <th class="text-center">ELIMINAR</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="usuario in usuarios">
                    <td>{{$index + 1}}</td>
                    <td>{{usuario.usuario}}</td>
                    <td>{{usuario.perfil.nombre}}</td>
                    <td class="text-center">
                      <input type="checkbox" data-ng-model="usuario.activo" data-ng-disabled="true">
                    </td>
                    <td class="text-center">
                        <button class="btn btn_link" data-ng-click="verMdlActualizar(usuario)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button> 
                    </td>
                    <td class="text-center">
                        <button class="btn btn_link" data-ng-click="verMdlEliminar(usuario)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- AGREGAR -->
<script type="text/ng-template" id="mdlAgregar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlAgregar()">&times;</button>
      <h4 class="modal-title"><strong>AGREGAR USUARIO</strong></h4>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" name="frmAgregar">
        <div class="form-group">
          <label class="col-sm-2 control-label">Usuario</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="$parent.usuario.usuario" data-ng-required="true">
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Clave</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" data-ng-model="$parent.usuario.clave" data-ng-required="true">
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Perfil</label>
          <div class="col-sm-10">
            <select class="form-control" data-ng-model="$parent.usuario.perfil.idPerfil" data-ng-options="perfil.idPerfil as perfil.nombre for perfil in perfiles" data-ng-required="true">
            </select>
          </div>  
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-model="$parent.usuario.activo"> Activo
              </label>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="agregar(frmAgregar)" data-ng-disabled="frmAgregar.$invalid">AGREGAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlAgregar()">CANCELAR</button>
  </div>
</script>
<!-- ACTUALIZAR -->
<script type="text/ng-template" id="mdlActualizar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlActualizar()">&times;</button>
      <h4 class="modal-title"><strong>ACTUALIZAR USUARIO</strong></h4>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" name="frmActualizar">
        <div class="form-group">
          <label class="col-sm-2 control-label">Usuario</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="$parent.usuario.usuario" data-ng-required="true">
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Clave</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" data-ng-model="$parent.usuario.clave" data-ng-required="true">
          </div>  
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Perfil</label>
          <div class="col-sm-10">
            <select class="form-control" data-ng-model="$parent.usuario.perfil.idPerfil" data-ng-options="perfil.idPerfil as perfil.nombre for perfil in perfiles" data-ng-required="true">
            </select>
          </div>  
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-model="$parent.usuario.activo"> Activo
              </label>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="actualizar(frmActualizar)" data-ng-disabled="frmActualizar.$invalid">ACTUALIZAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlActualizar()">CANCELAR</button>
  </div>
</script>
<!-- ELIMINAR -->
<script type="text/ng-template" id="mdlEliminar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlEliminar()">&times;</button>
      <h4 class="modal-title"><strong>ELIMINAR USUARIO</strong></h4>
  </div>
  <div class="modal-body">
    ¿Confirma la eliminación del usuario <strong>{{usuario.usuario}}</strong> ?
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="eliminar()" >ELIMINAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlEliminar()">CANCELAR</button>
  </div>
</script>