<div class="title-left">
  <h1>LISTADO DE PRODUCTOS</h1>
</div>
<div class="row">
    <div class="btn-right">
        <button class="btn btn-primary" data-ng-click="verMdlAgregar()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          AGREGAR
        </button>
    </div>
    <div id="divLoading"></div>
    <div id="divAlert"></div>
    <div data-ng-if="verTabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>N°</th>
                  <th>CÓDIGO</th>
                  <th>DESCRIPCIÓN</th>
                  <th class="text-center">ACTIVO</th>
                  <th class="text-center">EDITAR</th>
                  <th class="text-center">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="producto in productos">
                    <td>{{$index + 1}}</td>
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td class="text-center">
                      <input type="checkbox" data-ng-model="producto.activo" data-ng-disabled="true">
                    </td>
                    <td class="text-center">
                      <button class="btn btn_link" data-ng-click="verMdlActualizar(producto)">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      </button> 
                    </td>
                    <td class="text-center">
                      <button class="btn btn_link" data-ng-click="verMdlEliminar(producto)">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- AGREGAR -->
<script type="text/ng-template" id="mdlAgregar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlAgregar()">&times;</button>
      <h4 class="modal-title"><strong>AGREGAR PRODUCTO</strong></h4>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" name="frmAgregar" novalidate>
        <div class="form-group">
          <div class="col-sm-12">
            <uib-tabset>
              <uib-tab heading="General">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Código</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" data-ng-model="producto.codigo" data-ng-required="true">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Descripción</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" data-ng-model="producto.descripcion" data-ng-required="true">
                  </div>  
                </div>
                
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" data-ng-model="producto.activo"> Activo
                      </label>
                    </div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Unidades">
                <div class="btn-right">
                  <button class="btn btn-primary" data-ng-click="agregarUnidad()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    AGREGAR
                  </button>
                </div>
                <div id="divAlertUnidad"></div>
                <div data-ng-if="verTablaUnidad">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                          <th>UNIDAD</th>
                          <th>FACTOR</th>
                          <th class="text-center">ELIMINAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="unidad in producto.unidades">
                        <ng-form name="frmUnidad">
                          <td>
                            <input type="text" class="form-control" data-ng-model="unidad.abreviacion" data-ng-required="true">
                          </td>
                          <td>
                            <input type="text" class="form-control" name="factor" data-ng-model="unidad.factor" data-ng-pattern="/^[0-9]+$/" data-ng-required="true">
                            <span class="help-block" data-ng-show="!frmUnidad.factor.$valid" data-ng-text="SOLO_ENTEROS">
                          </td>
                          <td class="text-center">
                            <button class="btn btn_link" data-ng-click="eliminarUnidad($index)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </ng-form>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="agregar(frmAgregar)" data-ng-disabled="frmAgregar.$invalid">AGREGAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlAgregar()">CANCELAR</button>
  </div>
</script>
<!-- ACTUALIZAR -->
<script type="text/ng-template" id="mdlActualizar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlActualizar()">&times;</button>
      <h4 class="modal-title"><strong>ACTUALIZAR REPORTE</strong></h4>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" name="frmActualizar" novalidate>
        <div class="form-group">
          <div class="col-sm-12">
            <uib-tabset>
              <uib-tab heading="General">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Descripción</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" data-ng-model="reporte.descripcion" data-ng-required="true">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Documento</label>
                  <div class="col-sm-9">
                    <select-document data-ng-model="reporte.documento" data-ng-required="true"></select-document>
                  </div>  
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Ubicación</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" data-ng-model="reporte.ubicacion" data-ng-required="true">
                  </div>  
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" data-ng-model="reporte.activo"> Activo
                      </label>
                    </div>
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Items">
                <div class="btn-right">
                  <button class="btn btn-primary" data-ng-click="agregarItem()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    AGREGAR
                  </button>
                </div>
                <div id="divLoadingItem"></div>
                <div id="divAlertItem"></div>
                <div data-ng-if="verTablaItem">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                          <th>NOMBRE</th>
                          <th class="text-center">ID</th>
                          <th>VALOR</th>
                          <th class="text-center">ELIMINAR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="item in reporte.items">
                        <ng-form name="frmItem">
                          <td>
                            <input type="text" class="form-control" data-ng-model="item.nombre" data-ng-required="true">
                          </td>
                          <td class="text-center">
                            <input type="checkbox" data-ng-model="item.asignarId">
                          </td>
                          <td>
                            <input type="text" class="form-control" data-ng-model="item.valor" data-ng-required="true">
                          </td>
                          <td class="text-center">
                            <button class="btn btn_link" data-ng-click="eliminarItem($index)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                          </td>
                        </ng-form>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="actualizar(frmActualizar)" data-ng-disabled="frmActualizar.$invalid">ACTUALIZAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlActualizar()">CANCELAR</button>
  </div>
</script>
<!-- ELIMINAR -->
<script type="text/ng-template" id="mdlEliminar">
  <div class="modal-header">
      <button type="button" class="close" data-ng-click="cerrarMdlEliminar()">&times;</button>
      <h4 class="modal-title"><strong>ELIMINAR REPORTE</strong></h4>
  </div>
  <div class="modal-body">
    ¿Confirma la eliminación del reporte <strong>{{reporte.descripcion}}</strong> ?
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-ng-click="eliminar()" >ELIMINAR</button>
      <button class="btn btn-default" data-ng-click="cerrarMdlEliminar()">CANCELAR</button>
  </div>
</script>