/* HTML */
body {
    padding-top: 50px;
}
thead {
    color: #FFF;
    background-color: #436482;
}
/* NAVBAR */
.navbar-default {
    background-color: #436482;
    border-color: #436482;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover {
    color: #000;
}
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
    color: #FFF;
    background-color: #30506F;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #30506F;
}
.navbar-default .navbar-toggle {
    border-color: #FFF;
}
.navbar-toggle {
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #30506F;
}
.dropdown-menu {
    background-color: #436482;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #30506F;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFF;
    background-color: #30506F;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
/* MODAL */
.modal-header{
    color: #FFF;
    background-color: #436482;
}
.modal-content {
    border-radius: 0px;
}
.modal-backdrop {
    background-color: #FFF;
}
.modal-backdrop.in {
    opacity: 0.7;
}
.modal-dialog {
    margin: 44px auto;
}
.modal-445 {  
    width: 445px;
}
.modal-500 {  
    width: 500px;
}
/* BUTTON */
.btn {
    border-radius: 0px;
}
.btn-primary {
    color: #FFF;
    background-color: #436482;
    border-color: #436482;
}
.btn-primary:hover, 
.open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #30506F;
    border-color: #30506F;
}
.btn-primary:focus {
    background-color: #30506F;
}
.btn-primary[disabled] {
    background-color: #38556F;
    border-color: #31495E;
}
/* ALERT */
.alert {
    padding: 10px;
    border-radius: 0px;
}
/* TABLE */
.table>tbody>tr>td {
    padding: 4px;
    vertical-align: middle;
}
/* FORM */
.form-horizontal .form-group {
    margin-right: -8px;
    margin-left: -8px;
}
.form-group {
    margin-bottom: 10px;
}
/* TAB */
.tab-content {
    margin-top: 12px;
}
/* SGE */
.title-center {
    padding: 40px 15px;
    text-align: center;
}
.title-left {
    margin-top: 40px;
    text-align: left;
}
.icon-preload-lg {
    background: url('../img/preload-lg.gif');
    height: 64px;
    width: 64px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.btn-right {
    text-align: right;
    margin-bottom: 7px;
    margin-right: 1px;
}
#load-process { 
    display: none; 
    background-color: #FFF; 
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 100%; 
    z-index: 20000; 
    opacity: 0.85; 
    filter: alpha(opacity=90); 
    display: block; 
    text-align: center; 
}
.preload_absolute { 
    position: absolute; 
    display: block; 
}
.preload_fixed { 
    position: fixed; 
    display: block; 
}
.alert-floating {
    position: fixed;
    text-align: center;
    width: 55%;
    top: 0px;
    left: 25%;
    z-index: 1051;
    opacity: 0.90;
    margin: -3px 0px 0px 0px;
}